<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/main.css">
  <title>Unpopular Opinions</title>
</head>

<body>
    <div id="nav_bar">
        <div class="nav_box">
            <a href="/"><img src="/icons/home.png" alt="Home Icon" class="icons"></a>
        </div>
        <div class="nav_box">
            <a href="/post"><img src="/icons/post.png" alt="Post Icon" class="icons"></a>
        </div>
        <div class="nav_box">
            <a href="/account"><img src="/icons/account.png" alt="Account Icon" class="icons"></a>
        </div>
    </div>
    <main>